<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" sizes="32x32" href="/favicon.ico?v=3"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One"/>
    <style>
        .left-side-header {
            font-family: 'Fredoka One', cursive;
            font-weight: 100;
            color: #10b745;
            font-size: 48px;
            float: left;
            padding: 10px;
        }

        .nav {
            padding: 7px;
            font-weight: bold;
        }

        .boxalign2 {
            margin-left: 10px;
        }

        .container-body {
            margin-left: 7px;
        }

        .inputwrap label {
            display: inline-block;
            width: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="left-side-header" th:href="@{/}" href="home.html" style="font-size: 2.5em; text-decoration:none;">Unilog.
                <span style="color:white !important; font-size: 0.5em">&nbsp;&nbsp;&nbsp;&nbsp;Putting you in control</span>
            </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html" style="color:white !important;">&nbsp;&nbsp;Home</a></li>
                <li><a th:href="@{/upload/qualification}" href="qualification.html" style="color:white !important;">
                    &nbsp;&nbsp;Upload</a></li>
                <li><a th:href="@{/complete/registration}" href="registration.html" style="color:white !important;">
                    &nbsp;&nbsp;Registration</a></li>
                <li><a th:href="@{/admin/portal}" href="adminPortal.html" style="color:white !important;">&nbsp;&nbsp;Admin
                    Portal</a></li>
                <li><a th:href="@{/logout}" href="logout" style="color:white !important;">&nbsp;&nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="container-body">
        <h1>Complete Registration</h1>
        <hr/>
        <form action="#" th:action="@{/complete/registration}" th:object="${registrationRequest}" method="post">
            <p>To finish registration please enter the activation code sent to your email and if you haven't already,
                create and Ethereum Account.</p>
            <p>Successful registration will provide you with a token that you can share with employers/verifiers!</p>
            <br/>
            <p th:if="${success}" class="alert alert-success">Congratulations, you are now ready to use Unilog! Your
                smart contract should be available in apprx. 10 minutes
                <br/>Check your email to find your token.</p>
            <p th:if="${error}" class="alert alert-error">Error completing registration. All fields are required!
                <br/>Have you entered your code correctly?</p>
            <p th:if="${alreadyRegistered}" class="alert alert-error">This account is already registered!</p>
            <div id="boxalign2" class="boxalign2">
                <div class="inputwrap">
                    <label>Email Address: </label>
                    <input type="text" th:field="*{recipientEmailAddress}"/>
                </div>
                <div class="inputwrap">
                    <label>Ethereum Account: </label>
                    <input type="text" th:field="*{recipientAccountAddress}"/><br/>
                </div>
                <div class="inputwrap">
                    <label>Activation Code:</label>
                    <input type="text" th:field="*{code}"/><br/>
                </div>
                <p><input type="submit" name="action" value="Submit"/></p>
            </div>
            <br/><br/>
            <h2>Accredited Institution</h2>
            <hr/>
            <p>Are you an Accredited Institution looking to register?</p>
            <p>Send us an email outlining your identity at 'yourunilog@gmail.com' and we will review your
                application.</p>
            <p>Or you can make a short application below: </p>
            <div id="boxalign2" class="boxalign2">
                <div class="inputwrap">
                    <label>Your Email Address: </label>
                    <input type="text" th:field="*{institutionEmailAddress}"/>
                </div>
                <div class="inputwrap">
                    <label>Contact Details and Information: </label>
                    <input type="text" th:field="*{message}"/><br/>
                </div>
                <p><input type="submit" name="action" value="Apply"/></p>
                <p>* Applications must be sent from an official school email. e.g. admissions@harvard.edu</p>
                <p th:if="${applicationSent}" class="alert alert-success">Your application has been sent
                    successfully.</p>
                <p th:if="${invalidRegistrationEmail}" class="alert alert-error">Please enter a valid email address.
                    If the problem persists, the server may be experiencing technical difficulties.</p>
            </div>
            <h3>Already Applied?</h3>
            <hr/>
            <p>Are you an institution who has already applied and successfully received their activation code?<br/>
                If so, activate your account below.
            </p>
            <div id="boxalign2" class="boxalign2">
                <div class="inputwrap">
                    <label>Your Email Address: </label>
                    <input type="text" th:field="*{activationInstitutionEmailAddress}"/>
                </div>
                <div class="inputwrap">
                    <label>Activation Code: </label>
                    <input type="text" th:field="*{institutionCode}"/><br/>
                </div>
                <p><input type="submit" name="action" value="Activate"/></p>
                <p th:if="${activated}" class="alert alert-success">Your account has been activated. Check your email
                    for login details.</p>
                <p th:if="${invalidEmail}" class="alert alert-error">Invalid request. Have you entered a correct email?
                    Or have you already registered?
                    If the problem persists, the server may be experiencing technical difficulties.
                </p>
                <p th:if="*{registryCreated} == true"
                   th:text="'Unilog Registry Smart Contract Address: ' + *{unilogRegistryContractAddress}"
                   class="alert"></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>