<template name="HomeLayout">
    {{> Header}}
    <body>
    <div class="home-layout">
        <div class="billboard">
            <h2>What is Unilog?</h2>
            <h4>
                Unilog provides a service for people to immediately verify the legitimacy of a person's
                qualification.
                Utilising block chain technology, it puts you back in control of your data.
                <br/> <br/> <br/>
                <ul>
                    <li>Data is available forever</li>
                    <li>Extreme levels of fault tolerance, zero downtime</li>
                    <li>Decentralized peer-to-peer network</li>
                    <li>Single account, network wide access</li>
                </ul>
            </h4>
        </div>
    </div>
    </body>
</template>